@import '../../../../$_color-variables.scss';
@import '../../../../$_typography.scss';

.card-pattern {
    justify-content: center;
    padding: 0;
    gap: 0;
    max-width: 370px;
    min-width: 300px;
}

.team-info {
    figure {
        img {
            object-fit: cover;
            width: 100%;
            border-radius: 20px 20px 0 0;
            margin-bottom: 10px;
        }
    }

    .text {
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid #d8d8d8;
        padding: 20px 30px;

        span {
            font-size: $Body-M;
        }
    }
}

@media (max-width: 650px) {
    .team-info {
        max-width: auto;
    }
}