<section class="container">
    <div class="text">
        <h1>Get Landing Page UI Kit Today!</h1>
        <p>Break the Figma limits and explore the endless possibilities with Anima.</p>
        <btn-principal
            [buttonProperties]="[
                {
                    btnText: 'Contact',
                    variant: 'primary',
                    icon: '',
                    iconRight: false,
                }
            ]"
        ></btn-principal>
    </div>

    <figure class="mockup">
        <img src="../../../../../assets/img/ilustrations/visuals3.png" alt="Mockup">
    </figure>
</section>