<footer>
    <a href="https://www.animaapp.com/figma">
        © 2023 Anima’s Landing Page Ui Kit.
    </a>
    
    <div class="social-links">
        <a href="">
            <img src="assets/svg/socialIcons/youtube.svg" alt="Youtube logo">
        </a>
        <a href="">
            <img src="assets/svg/socialIcons/instagram.svg" alt="Instagram logo">
        </a>
        
        <a href="">
            <img src="assets/svg/socialIcons/github.svg" alt="Github logo">
        </a>

        <a href="">
            <img src="assets/svg/socialIcons/linkedin.svg" alt="Linkedin logo">
        </a>
    </div>
</footer>