// Neutral
$zircon: #F8F9FF;
$alto: #D8D8D8;
$mine-shaft: #2D2D2D;

//Call to Action
$observatory: #009379;
$aqua-squeeze: #E5F4F2;

//Secondary
$sweet-corn: #F8D57E;
$mandys-pink: #F2BFAF;
$persimmon: #FF6250;